.Container{
    text-align: center;
    align-content: center;
    background-color: #f1f1f1;
    height: 650px;
}
.Main-Container{
    text-align: center;
    background-color: #f1f1f1;
    height: 650px;
}

.Sub-Container{
    padding-top: 50px;
}

.Admin-Container {
    text-align: center;
    align-content:flex-end;
    background-color: #f1f1f1;
    height: 650px; 
}

.Account {
    text-align: center;
    align-content: center;
    background-color: #f2f2f2;
    height: 650px;
}

.Account-container {
    background-color:blue;
    width:250px;
    height: 50px;
}


